@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
/*  primary-color: "#b27249" */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  background-color: #faede1;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.lock-scroll {
  height: 100%;
  overflow: hidden;
}

.app-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
} 

a{
  text-decoration: none;
}

@media (min-width: 768px) {
  .app-container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .app-container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .app-container {
      width: 1140px;
  }
}



